@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: "Roboto", sans-serif;
}
ul {
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
    }
}
a {
    text-decoration: none;
}

:root {
    --color-white: #fff;
    --color-light-blue: #009fe3;
    --color-black: #000;
}

//responsive breakpoints
$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 991px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

@mixin button {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        border: 2px solid var(--color-white);
        width: 1em;
        height: 1em;
        transition: all 0.3s ease-in-out;
        z-index: 5;
    }
    &:before {
        top: -6px;
        left: -6px;
        border-width: 2px 0 0 2px;
    }
    &:after {
        bottom: -6px;
        right: -6px;
        border-width: 0 2px 2px 0;
    }
    &:hover {
        &:before,
        &::after {
            width: calc(100% + 12px);
            height: calc(100% + 12px);
            transform: rotateY(180deg);
        }
    }
}
@mixin h6 {
    color: var(--color-light-blue);
    font-size: 1.2rem;
    font-weight: 700;
}
@mixin h3 {
    color: var(--color-black);
    font-weight: 700;
    font-size: 1.5rem;
}
header {
    position: absolute;
    width: 100%;
    z-index: 99;
    .top-line {
        padding: 0.5rem 0rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.363);

        .contact-area {
            ul {
                &.contact {
                    li {
                        a {
                            padding-left: 0rem;
                            font-weight: 400;
                            cursor: pointer;
                            i {
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
                li {
                    a {
                        color: var(--color-white);
                        transition: 0.3s all;
                        font-size: 0.9rem;

                        &:hover {
                            color: var(--color-light-blue);
                        }
                    }
                }
            }
            .dropdown {
                .btn {
                    color: var(--color-white);
                    font-size: 0.9rem;
                    font-weight: 500;
                    &:focus {
                        box-shadow: none;
                    }
                }
                .dropdown-menu {
                    min-width: 3rem;
                    li {
                        a {
                            color: var(--color-light-blue);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    .header-inner {
        padding: 1rem 0rem;
        transition: 0.3s all;
        &.sticky {
            position: fixed;
            z-index: 999;
            width: 100%;
            background-color:rgba(0, 0, 0, 0.548);
            top: 0;
            padding: 0.5rem 0rem !important;
            .navbar-brand {
                img {
                    max-width: 10rem !important;
                    object-fit: cover;
                }
            }
            .menu-area {
                ul {
                    margin-bottom: 0rem !important;
                   /*  li {
                        a {
                            &.active {
                                color: var(--color-black) !important;
                            }
                            &:hover {
                                color: var(--color-black) !important;
                            }
                        }
                    } */
                }
            }
        }
        .header-area {
            .navbar-brand {
                img {
                    filter: brightness(0) invert(1);
                    max-width: 12rem;
                    object-fit: cover;
                }
                @media screen and(max-width:$lg-breakpoint) {
                    padding: 1rem;
                }
            }
            .hamburger {
                margin-bottom: 2rem;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                position: absolute;
                right: 1rem;
                z-index: 999;
                .line {
                    display: block;
                    width: 40px;
                    height: 2px;
                    background-color: var(--color-white);
                    margin-block: 10px;
                    border-radius: 4px;
                    transition: 0.3s all;
                }
                &.active {
                    .line {
                        background-color: var(--color-black);
                        &:nth-child(1) {
                            transform: translateY(13px) rotate(45deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: translateY(-13px) rotate(-45deg);
                        }
                    }
                }
            }
            .menu-area {
                ul {
                    margin-bottom: 2rem;
                    li {
                        a {
                            color: var(--color-white);
                            cursor: pointer;
                            transition: 0.3s all;
                            font-size: 1.2rem;
                            font-weight: 500;
                            &:hover {
                                color: var(--color-light-blue);
                            }
                            &.active {
                                color: var(--color-light-blue);
                            }
                        }
                    }
                }
                @media screen and(max-width:$lg-breakpoint) {
                    display: none;
                }
                &.active {
                    @media screen and(max-width:$lg-breakpoint) {
                        position: absolute;
                        background-color: var(--color-white);
                        left: 0;
                        width: 100%;
                        height: 100vh;
                        bottom: 0;
                        top: 0;
                        padding: 2rem 1rem;
                        flex-direction: column;
                        display: block;
                        img {
                            filter: none;
                        }
                        ul {
                            flex-direction: column;
                            align-items: flex-start !important;
                            li {
                                a {
                                    color: var(--color-light-blue);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.banner {
    position: relative;
    min-height: 100vh;
    width: 100%;

    .swiper {
        width: 100%;
        height: 100%;
        .slide-inner{
            width: 100%;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            min-height: 100vh;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            z-index: 1;
            padding: 1rem;
            &:before {
                content: "";
                background-color: rgba(0, 0, 0, 0.452);
                height: 100%;
                width: 100%;
                display: block;
                position: absolute;
                z-index: -1;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .content {
                margin-top: 4rem;
                .text {
                    max-width: 35rem;
                    width: 100%;
                    text-align: left;
                    h1 {
                        color: var(--color-white);
                        font-weight: 700;
                        margin-bottom: 1rem;
                        font-family: "Roboto Condensed", sans-serif;
                        font-size: 2.8rem;
                    }
                    h6 {
                        color: var(--color-white);
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    p {
                        color: var(--color-white);
                        font-weight: 500;
                        font-size: 1rem;
                        position: relative;
                    }

                    .button-area {
                        margin-top: 2rem;
                        .button {
                            @include button;
                        }
                    }
                }
            }
            .img-wrapper {
                position: relative;
                img {
                    display: block;
                    height: 12rem;
                    object-fit: cover;
                    width: 55rem;
                }
            }
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            height: 100%;
            top: 45%;
            color: var(--color-white);
            right: 2rem;
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            height: 100%;
            top: 45%;
            left: auto;
            right: 5rem;
            color: var(--color-white);
        }
    }
}
.about-us {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    h6 {
        @include h6;
    }
    h3 {
       @include h3;
    }
    p {
        font-size: 1rem;
        color: var(--color-black);
        font-weight: 300;
    }
    .button {
        @include button;
        color: var(--color-light-blue);
        border-color: var(--color-light-blue);
        &::before,
        &::after {
            border-color: var(--color-light-blue);
        }
    }

    .icon-wrapper {
        position: absolute;
        max-width: 4rem;
        z-index: 9;

        &:nth-child(1) {
            top: 0;
            left: 0;
            animation: animate-figure1 infinite 3s;
            @media screen and(max-width:$lg-breakpoint) {
                left: 1rem;
                top: 2rem;
            }
        }
        &:nth-child(2) {
            top: 0;
            right: 0;
            animation: animate-figure2 infinite 3s;
            @media screen and(max-width:$lg-breakpoint) {
                right: 1rem;
                top: 2rem;
            }
        }
        &:nth-child(3) {
            bottom: 4rem;
            left: 0;
            animation: animate-figure3 infinite 3s;
            @media screen and(max-width:$lg-breakpoint) {
                left: 3rem;
            }
        }
        &:nth-child(4) {
            bottom: 4rem;
            right: 0;
            animation: animate-figure4 infinite 3s;
            @media screen and(max-width:$lg-breakpoint) {
                right: 3rem;
            }
        }
    }
}

.services{
    
    .title{
        h6 {
            @include h6;
        }
        h3 {
           @include h3;
        }
        .button-area{
            .button{
                @include button;
                color: var(--color-light-blue);
                border-color: var(--color-light-blue);
                &::before,
                &::after {
                    border-color: var(--color-light-blue);
                }
            }
        }
    }
}

@-webkit-keyframes animate-figure1 {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    50% {
        -webkit-transform: translateY(-20px) translateX(10px);
        transform: translateY(-20px) translateX(10px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}
@keyframes animate-figure1 {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    50% {
        -webkit-transform: translateY(-20px) translateX(10px);
        transform: translateY(-20px) translateX(10px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}
@-webkit-keyframes animate-figure2 {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    50% {
        -webkit-transform: translateY(-20px) translateX(-10px);
        transform: translateY(-20px) translateX(-10px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}
@keyframes animate-figure2 {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    50% {
        -webkit-transform: translateY(-20px) translateX(-10px);
        transform: translateY(-20px) translateX(-10px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}
@-webkit-keyframes animate-figure3 {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    50% {
        -webkit-transform: translateY(-10px) translateX(-40px);
        transform: translateY(-10px) translateX(-40px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}
@keyframes animate-figure3 {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    50% {
        -webkit-transform: translateY(-10px) translateX(-40px);
        transform: translateY(-10px) translateX(-40px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}
@-webkit-keyframes animate-figure4 {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    50% {
        -webkit-transform: translateY(-10px) translateX(40px);
        transform: translateY(-10px) translateX(40px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}
@keyframes animate-figure4 {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    50% {
        -webkit-transform: translateY(-10px) translateX(40px);
        transform: translateY(-10px) translateX(40px);
    }
    100% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
}